{{template "layout" .}}
{{ define "content"}}

<main id="after-loading1">
    <div class="title-artists-header-lists">
        <div class="title-artist-list">
            List of artists
        </div>

        <div class="filter-icon" id="updateDetails">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="currentColor"
                    d="M6.17 18a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3.001 3.001 0 0 1-5.66 0H2v-2h4.17zm6-7a3.001 3.001 0 0 1 5.66 0H22v2h-4.17a3.001 3.001 0 0 1-5.66 0H2v-2h10.17zm-6-7a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3.001 3.001 0 0 1-5.66 0H2V4h4.17zM9 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm6 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-6 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2z">
                </path>
            </svg>
        </div>

        <div class="searchbar-table">
            <form action="/search" method="get">
                <i class="fa fa-user icon"></i>
                <input class="search-input-table" type="search" name="search" placeholder="Explore" id="search">
                <ul class="sugestion" id="ul-item">
                </ul>
                <button type="submit">
                    <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        viewBox="0 0 1024 1024">
                        <path fill="currentColor"
                            d="M1014.64 969.04L703.71 656.207c57.952-69.408 92.88-158.704 92.88-256.208c0-220.912-179.088-400-400-400s-400 179.088-400 400s179.088 400 400 400c100.368 0 192.048-37.056 262.288-98.144l310.496 312.448c12.496 12.497 32.769 12.497 45.265 0c12.48-12.496 12.48-32.752 0-45.263zM396.59 736.527c-185.856 0-336.528-150.672-336.528-336.528S210.734 63.471 396.59 63.471c185.856 0 336.528 150.672 336.528 336.528S582.446 736.527 396.59 736.527z" />
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <!-- <dialog id="favDialog">
        <div class="container">
            <form method="post" action="/filter">
                <div class="filters">
                    <div class="filter-member">
                        <span class="title-filter">Members</span>
                        <div id="checklist">
                            <input value="1" name="r" type="checkbox" id="01">
                            <label for="01">1</label>
                            <input value="2" name="r" type="checkbox" id="02">
                            <label for="02">2</label>
                            <input value="3" name="r" type="checkbox" id="03">
                            <label for="03">3</label>
                            <input value="4" name="r" type="checkbox" id="03">
                            <label for="04">4</label>
                            <input value="5" name="r" type="checkbox" id="03">
                            <label for="05">5</label>
                            <input value="6" name="r" type="checkbox" id="03">
                            <label for="06">6</label>
                            <input value="7" name="r" type="checkbox" id="03">
                            <label for="07">7</label>
                            <input value="8" name="r" type="checkbox" id="03">
                            <label for="08">8</label>
                            <input value="9" name="r" type="checkbox" id="03">
                            <label for="09">9</label>
                        </div>
                    </div>
                    <div class="filter">
                        <span class="title-filter">First Album</span>
                        <div class="range-slider">
                            <input class="range-slider__range" type="range" value="100" min="0" max="500">
                            <span class="range-slider__value">100</span>
                        </div>
                    </div>
                    <div class="filter">
                        <span class="title-filter">Creations dates</span>
                        <div class="beetween">
                            <div><input type="number" name="min" class="pi" value="2200" placeholder="Min" max="261900"
                                    min="2200"></div>
                            <div><span class="-phs -fs16">
                                    <pre> - </pre>
                                </span></div>
                            <div><input type="number" name="max" class="pi" value="261900" placeholder="Max" min="2200"
                                    max="261900"></div>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="byLocation">
                        </div>
                    </div>
                </div>
                <button id="cancel" value="cancel" formmethod="dialog">X</button>
                <button id="confirmBtn" value="default">Filter</button>
        </div>
        </form>
        </div>
    </dialog> -->
    <dialog id="favDialog">
        <div class="container">
            <form method="post" action="/filter">
                <div class="filters">
                    <div class="filter">
                        <span class="title-filter">Members</span>
                        <div id="checklist">
                            <input name="members" value="1" name="r" type="checkbox" id="01">
                            <label for="01">1</label>
                            <input name="members" value="2" name="r" type="checkbox" id="02">
                            <label for="02">2</label>
                            <input name="members" value="3" name="r" type="checkbox" id="03">
                            <label for="03">3</label>
                            <input name="members" value="4" name="r" type="checkbox" id="03">
                            <label for="04">4</label>
                            <input name="members" value="5" name="r" type="checkbox" id="03">
                            <label for="05">5</label>
                            <input name="members" value="6" name="r" type="checkbox" id="03">
                            <label for="06">6</label>
                            <input name="members" value="7" name="r" type="checkbox" id="03">
                            <label for="07">7</label>
                            <input name="members" value="8" name="r" type="checkbox" id="03">
                            <label for="08">8</label>
                            <input name="members" value="9" name="r" type="checkbox" id="03">
                            <label for="09">9</label>
                        </div>
                    </div>
                    <div class="filter">
                        <span class="title-filter">First Album</span>
                        <div class="wrapper">
                            <div class="values">
                                <span id="range1">
                                    0
                                </span>
                                <span> &dash; </span>
                                <span id="range2">
                                    100
                                </span>
                            </div>
                            <div class="byFirstAlbum">
                                <div class="slider-track"></div>
                                <input type="range" min="1900" max="2023" name="firstalbum" value="1900" id="slider-1"
                                    oninput="slideOne()">
                                <input type="range" min="1900" max="2023" name="firstalbum" value="2023" id="slider-2"
                                    oninput="slideTwo()">
                            </div>
                        </div>
                    </div>
                    <div class="filter">
                        <span class="title-filter">Creations dates</span>
                        <div class="beetween">
                            <div><input type="number" name="creations-date" class="pi" value="1900" placeholder="Min"
                                    max="2023" min=" "></div>
                            <div><span class="-phs -fs16">
                                    <pre> - </pre>
                                </span></div>
                            <div><input type="number" name="creations-date" class="pi" value="2023" placeholder="Max"
                                    min="1900" max="2023"></div>
                        </div>
                    </div>
                    <div class="filter">
                        <span class="title-filter">Creations locations</span>
                        <div class="byLocation">
                            <select name="contry" id="contry" class="full-width gry" multiple>
                                <!-- Partie à modifié début -->
                                <!-- <option value="">Country</option> -->
                                {{range $index, $value := .Loc}}
                                {{range $value}}
                                <option value="{{.}}-{{$index }}">{{.}}, {{$index }}</option>
                                {{end}}
                                {{end}}
                                <!-- Partie à modifié fin -->
                            </select>
                        </div>
                    </div>
                </div>
                <button id="cancel" value="cancel" formmethod="dialog">X</button>
                <button id="confirmBtn" value="default">Filter</button>
        </div>
        </form>
        </div>
    </dialog>
    <div class="artist-card">
        {{ range .Artists }}
        <a href="/artist/{{.Id}}">
            <div class="one-artist-card">
                <img src="{{.Image}}">
                <h2 class="artist-card-title">
                    {{ if gt (len .Name) 14}}
                    {{slice .Name 0 11}}...
                    {{else}}
                    {{ .Name}}
                    {{end}}
                </h2>
                <span class="groups">
                    {{ if gt (len .Members) 1 }}
                    <p>Group</p>
                    {{ else }}
                    <p>Solo</p>
                    {{end}}
                </span>
            </div>
        </a>
        {{ end }}
    </div>

    <div class="footer">
        <p class="footer-title">Groupie tracker</p>
        <p class="footer-title2">
            Made with love❤️
        </p>
        <p class="footer-title3">
            Copyright 2023
        </p>
    </div>
</main>

{{ end }}