{{ template "header" . }}

{{ define "content"}}
<div class="Artist">
    <h2 class="font-b">Liste of Artists</h2>
    <table class="Artist-table">
        <tr class="table-head">
            <th class="font-a"></th>
            <th class="font-a">Groupe Name</th>
            <th class="font-a">Creation date</th>
            <th class="font-a">Member numbers</th>
            <th class="font-a">First album</th>
        </tr>
        {{ range . }}
        {{ if lt .Id 10 }}
        <tr>
            <td class="td-1 font-a"><img src={{ .Image }} alt="" class="Card-img"></td>
            <td class="td-2 font-a">{{ .Name }}</td>
            <td class="td-3 font-a">{{ .CreationDate }}</td>
            <td class="td-4 font-a">6</td>
            <td class="td-5 font-a">{{ .FirstAlbum }}</td>
        </tr>
        {{ end }}
        {{ end }}
    </table>

    <form class="pagination" method="POST" >
        <button class="page-button" type="submit" id="1">1</button>
        <button class="page-button">2</button>
        <button class="page-button">3</button>
    </form>
</div>

{{ end }}