<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon"
    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2p0T-r4pTdjFEnObJS8xSM9FHJPTLbqA8Ew&usqp=CAU"
    type="image/x-icon">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/post.css">
  <!-- cdn font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>forum</title>
</head>

<body>

  <!-- begin header -->
  {{template "header" .}}
  <!-- end header -->

  <!-- begin body -->
  <main class="container">
    <div class="container-2">
      <!-- block post and comment -->
      <!-- category list -->
      {{if len .Category}}
        <h3>
          {{range .Category}}
          {{.NameCategory}} <span>/</span>
          {{end}}
        </h3>
      {{end}}
        <div  class="alert-likePost" style="width: 100%;">
          <strong> <i class="fa-solid fa-triangle-exclamation" style="font-size: 22px;"></i></strong> You can't like, dislike or comment while you're offline.<a href="/signin">click here</a> to connect.
        </div> 
     

      <div class="post-displaying">
        <div class="categorie-specifique">
          <!-- posts -->
          <div class="title"><span><i class="fa-solid fa-feather"></i> Title:</span>{{.PostData.Posts.Title}}</div>

          <div><i class="fa-solid fa-quote-left"></i> {{.PostData.Posts.Content}}<i class="fa-solid fa-quote-left"
              style="margin-left: 5px;"></i> </div>

          <div class="author-date">
            <div><span><i class="fa-solid fa-at"></i>author:</span>{{.PostData.User.Username}}</div>
            <span class="bar">|</span>
            <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>{{.PostData.Posts.CreatedAt}}</div>
          </div>
          
          <div class="like-dislik-content">
            {{ if .Session }}
            <form action="/likepost" method="post">
              <input type="hidden" id="post_id" name="post_id" value="{{.PostData.Posts.ID}}">
              <input type="hidden" name="route" id="route" value="{{.PostData.Route}}">
              {{if .PostData.Liked}}
              <button type="submit"><i class="fa-solid fa-thumbs-up" 
                  style="color: rgb(143, 101, 12);"></i>{{.PostData.PostLike}}</button>
              {{else}}
              <button type="submit"><i class="fa-regular fa-thumbs-up"></i>{{.PostData.PostLike}}</button>
              {{end}}
            </form>
            <form action="/dislikepost" method="post">
              <input type="hidden" id="post_id" name="post_id" value="{{.PostData.Posts.ID}}">
              <input type="hidden" name="route" id="route" value="{{.PostData.Route}}">
              {{if .PostData.Disliked}}
              <button type="submit"><i class="fa-solid fa-thumbs-down" id="dislike"
                  style="color: rgb(143, 101, 12);"></i>{{.PostData.PostDislike}}</button>
              {{else}}
              <button type="submit"><i class="fa-regular fa-thumbs-down"></i>{{.PostData.PostDislike}}</button>
              {{end}}
            </form>   
            {{else}}
             <div>
               <button title="you can't like while you're offline" class="like-deconnected" style="background: transparent;border: none;padding-right: 8px;"><i class="fa-regular fa-thumbs-up"></i>{{.PostData.PostLike}}</button>
             </div>
             <div>
               <button title="you can't dislike while you're offline" class="like-deconnected" style="background: transparent;border: none;"><i class="fa-regular fa-thumbs-down"></i>{{.PostData.PostDislike}}</button>
             </div>
           {{end}}         
          </div>


          <!-- Formulaire de comment -->
          <div class="content-form-comment">
            <form action="/post" method="post">
              <div> <label for="">comment here:</label></div>
              <textarea name="content" id="content" cols="30" rows="6" placeholder="put something here..."></textarea>
              {{if .Session}}
              
              <input type="hidden" name="user_id" id="user_id" value="{{.User.ID}}">
              <input type="hidden" name="post_id" id="post_id" value="{{.PostData.Posts.ID}}">
              <p class="error-post"
                   style="color: red;font-size: 12px;margin-top: 3px;font-weight: normal;text-transform: lowercase;">
                  <i class="fa-solid fa-triangle-exclamation"
                      style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem;color: red;"></i><small
                      style="font-size: small;">{{.Error}}</small></p><br>
                      <button type="submit" style="display: flex;"><i class="fa-solid fa-paper-plane"
                        style="color: #221f51;"></i>comment</button>

              {{else}}
                <p style="color: red;font-size: 12px;"><i class="fa-solid fa-triangle-exclamation" style="color: red;width: fit-content;"></i>Please log in to comment a post.</p><br>

                <div class="like-deconnected" style="cursor: pointer; display: flex;background: var(--color-linear-gradient);color: #fff;padding: 8px 12px; width: fit-content;"><i class="fa-solid fa-paper-plane" style="color: #221f51;width: fit-content;"></i>comment</div>
              {{end}}
            </form>
          </div>
        </div>


        <div class="categorie-specifique">
          <!-- comment -->
          <h6>all comments</h6>
          <div class="content-comments">
            {{if len .PostData.Comment}}
            {{if .Session}}
            {{range .PostData.Comment}}
            {{template "comment_with_session" .}}
            {{end}}
            {{else}}
            {{range .PostData.Comment}}
            {{template "comment_without_session" .}}
            {{end}}
            {{end}}
            {{else}}
            <div class="alert1">
              <strong>Info!</strong> no comment found. be the first to comment this post.
            </div>
            {{end}}
          </div>
        </div>

      </div>

      <h4>other post by @{{.PostData.User.Username}}</h4>

      <!--Les autres postes du même auteur- -->
      <div class="post-displaying2">
        {{if len .Datas}}    <!-- If there is at least One post -->
        {{if .Session}}    <!-- If the user is connected -->
            {{range .Datas}} 
              {{template "post" .}}
            {{end}}
        {{else}}           <!-- If the user is not connected -->
            {{range .Datas}} 
              {{template "post_disconected" .}}
            {{end}}
        {{end}}
        {{else}}              <!-- If there is no post -->     
          <div class="alert1">
            <strong>Info!</strong> no post found. be the first to create a post.
          </div> 
       {{end}}
      </div>

  </main>
  <!-- end body -->

  <!--begin footer -->
  {{template "footer"}}
  <!-- end footer -->

  <script src="/static/js/script.js"></script>
</body>

</html>