{{ template "header" . }}

{{ define "content" }}


   <form class="auth_form" action="" method="post">
      <input class="auth_input" type="text" name="user_name" id="user_name" placeholder="Enter your user name">
      <input class="auth_input" type="email" name="email" id="email" placeholder="Enter your email">
      <input class="auth_input" type="password" name="password" id="password" placeholder="Enter your password">
      <input class="auth_input" type="password" name="password_validation" id="password_validation" placeholder="Confirm your password">
      <button class="auth_btn">Register</button>
      <a href="/signin">I have an account</a>
   </form>


{{ end }}