{{ template "header" . }}

{{ define "content" }}

<div class="auth_content">

   <p>hello auth</p>
   <p>hello auth</p>
   <p>hello auth</p>
   <p>hello auth</p>
   <p>hello auth</p>
</div>

{{ end }}