<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <!-- cdn font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>forum</title>
</head>

<body>
    <!-- begin header -->
      {{template "header" . }}
    <!-- end header -->

    <div class="SignIn-Registre">
        <h1>Registre</h1>
        <form class="monform" action="" method="post">
          <div><span class="start">*</span><span  class="messageErro">{{.ErrorAuth.UserNameError}}</span></div> 
            <input type="text" id="username" name="username" class="inputForm" placeholder="Nom" required>

            <div><span  class="start">* </span><span  class="messageErro">{{.ErrorAuth.EmailError}}</span></div> 
            <input type="email" id="email" name="email" class="inputForm" placeholder="Email" required>
            <input type="password" id="password" name="password" class="inputForm" placeholder="Password" required>
            <div><span  class="start">* </span><span  class="messageErro">{{.ErrorAuth.PasswordError}}</span></div> 
            <input type="password" id="password_validation" name="password_validation" class="inputForm"
                placeholder=" Confirm Password" required>
            <input type="submit" class="submitForm" name="submit" value="Create">
      
        </form>
       <span class="linka">I have an Account</span> &nbsp;   <a href="/signin" class="link">Sign in</a>
    </div>
    <!--begin footer -->
        {{template "footer"}}
    <!-- end footer -->

    <script src="/static/js/script.js"></script>
</body>

</html>