<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2p0T-r4pTdjFEnObJS8xSM9FHJPTLbqA8Ew&usqp=CAU" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- cdn font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>forum/signin-in</title>
    <style> header .nav1 .home{
            border:none; padding: 0px; 
            }
            header .nav1 .search-bar-form,
            header .nav2 .search-bar-form{
                display: none;
            }
            .message11{
                position: absolute;
                left: 300px;
                top:300px;
                padding: 40px 0px;
                margin-right: 10px;
            }
            /* .message{
    width: 20rem;
     position: absolute;
      top: 50%;
      flex-wrap: wrap;
  } */
  /* #ass{
   
   position: relative;
   left: 150px;
    
  } */
    .message11 h1{
    margin-bottom: 10px;
  }
   .message11 h1  span{
    font-family: 'Alfa Slab One'; 
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    animation: anim 1s infinite;
    animation-delay: calc(.1s * var(--i));
  }
   @keyframes anim {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

 

@media screen and (max-width:1255px) {

.message11{
   width: 13rem;
   position: absolute;
                left: 50px;
                top:300px;
                padding: 40px 0px;
                margin-right: 10px
}


}
@media screen and (max-width:1786px) {

.message11{
   width: 19rem;
   position: absolute;
                left: 150px;
                top:300px;
               
}
.message11 p{
    size: 30px;
}
}
@media screen and (max-width:1216px) {

    .message11{
   width: 19rem;
   position: absolute;
                left: 50px;
                top:300px;
                padding: 40px 0px;
                margin-right: 10px
}


}

@media only screen and (max-width: 1023px){
.message11{
    /* position: absolute;
                left: 350px;
                top:100px;
                padding: 40px 0px;
                margin-right: 10px;
  height: 496px;
  margin: 0 40px;
  width: auto; text-align: center; */
  display: none;
}
}
    </style>
</head>

<body>
    <!-- begin header -->
    {{template "header"}}
    <!-- end header -->
  
    <div id="ass">
        <div class="SignIn-Registre">
            <h1>Sign in</h1>
            <form class="monform" action="" method="post">
                <div><span class="start">*</span><span class="messageErro">{{.ErrorAuth.GeneralError}}</span></div>
                
                <input  type="text" id="email" name="email" class="inputForm" placeholder="Email or Username" required>
                <input type="password" id="motdepasse" name="motdepasse" class="inputForm" placeholder="Password" required>
                <!-- An element to toggle between password visibility -->
                <div><input type="checkbox" onclick="myFunction()"> &nbsp;<p style="color: black;">Show Password</p></div>
                <input type="submit" id="submit" class="submitForm" value="Sign in">
            </form>        
            <span class="linka">I don't have an Account</span> &nbsp;   <a href="/register" class="link">Register</a>
        </div>
        <div class="message11" >
            <h1 style="color: #0d1b2a">          
                          
              <span style="--i:13">F</span>
              <span style="--i:14">O</span>
              <span style="--i:15">R</span>
              <span style="--i:16">U</span>
              <span style="--i:17">M</span>
          
            </h1>
            <p style="line-height: 1.5em; margin-top: 4px; font-size: 20px;">
                With Forum, share and stay <br> in touch 
                contact with those around you.                             
            </p>        
          </div>
    </div>
        
        

   
    
       
    
       


    <!--begin footer -->
    {{template "footer"}}
    <!-- end footer -->

    <script src="/static/js/script.js"></script>
</body>
</html>