<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <!-- cdn font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>forum</title>
</head>

<body>

  <!-- begin header -->
    {{template "header" . }}
  <!-- end header -->

  <!-- begin body -->
  <main class="container">
    <!-- filter form -->
    <div class="container-1">
      <button class="btn-filter"><i class="fa-solid fa-filter"></i> filter</button>

      <div class="filter-form">
        <form action="" method="post">
          <select name="categorie" required>
            <!-- a supprimer -->
            <option selected>categories </option>
            <option value="education">education</option>
            <!-- fin a supprimer -->
          </select>
          <div>
            <label for="creation-date">created posts</label>
            <input type="date">
          </div>
          <div>
            <label for="creation-date">time posted</label>
            <input type="time">
          </div>
          <div>
            <div>
              <label for="">liked posts</label>
              <input type="number" min="0">
            </div>
            <div>
              <label for="">disliked posts</label>
              <input type="number" min="0">
            </div>
          </div>
          <div>
            <label></label>
          </div>
          <button type="submit">filter</button>
        </form>
      </div>
    </div>

    <div class="container-2">
      <div class="categori-menu">
        <form action="" method="post">
          <input type="hidden" name="categorie">
          <input type="submit" value="education">
        </form>
      </div>

      <!-- form add post -->
      <div class="bloc-add-post">
        <div class="new-post"><i class="fa-solid fa-plus"></i> New Post</div>
        <form class="form-new-post" action="#" method="post">
          <div>
            <select name="categorie" required>
              <option selected>post categorie </option>
            </select>
          </div>
          <div>
            <input type="text" placeholder="title post" required>
          </div>
          <div>
            <textarea name="" id="" cols="30" rows="5" required>content here</textarea>
          </div>
          <button type="submit">add post</button>
        </form>

      </div>

      <!-- block post and comment -->
      <h3>education</h3>
      <div class="post-displaying">
        <div class="categorie-specifique">
          <!-- posts -->
          <div class="title"><span> <i class="fa-solid fa-heading"></i>title:</span>sit amet consectetur</div>

          <div><i class="fa-regular fa-comments"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non earum
            neque voluptatem, est minima libero iusto quis magnam atque fuga illum exercitationem? Fuga voluptate,
            necessitatibus odit odio exercitationem itaque beatae.</div>

          <div class="author-date">
            <div><span><i class="fa-solid fa-at"></i>author:</span>ssambadi</div>
            <span>|</span>
            <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>15/08/2023 at 1am </div>
          </div>

          <div class="like-dislik-content">
            <form action="" method="post">
              <input type="hidden" name="liked" value="">
              <button type="submit"><i class="fa-regular fa-thumbs-up"></i>12</button>
            </form>
            <form action="" method="post">
              <input type="hidden" name="disliked" value="">
              <button type="submit"><i class="fa-regular fa-thumbs-down"></i>5</button>
            </form>
          </div>

          <a href="/template/pages/Postcategorie.page.html" class="comment">
            <div class="comment-btn"><i class="fa-solid fa-up-right-from-square"></i>comment here</div>
          </a>

          <!-- comment -->
          <h6>commented by:</h6>

          <div><i class="fa-regular fa-comments"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam hic
            ut, atque perspiciatis ducimus enim voluptate velit architecto, quod ea nobis, necessitatibus molestias
            placeat assumenda incidunt suscipit modi! Reprehenderit, perspiciatis.</div>
          <div class="author-date2">
            <div><span><i class="fa-solid fa-at"></i>author:</span>alo</div>
            <span>|</span>
            <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>15/08/2023 at 2am </div>
          </div>
          <div class="like-dislik-content">
            <form action="" method="post">
              <input type="hidden" name="liked" value="">
              <button type="submit"><i class="fa-regular fa-thumbs-up"></i>9</button>
            </form>
            <form action="" method="post">
              <input type="hidden" name="disliked" value="">
              <button type="submit"><i class="fa-regular fa-thumbs-down"></i>2</button>
            </form>
          </div>

          <div><a href="/template/pages/Postcategorie.page.html"><i class="fa-solid fa-circle-right"></i>see more
              comments...</a> </div>

        </div>

      </div>

      <div class="see-post"><a href="/template/pages/categories.page.html"><i class="fa-solid fa-circle-right"></i>see
          more posts...</a></div>


    </div>

  </main>
  <!-- end body -->


  <!-- begin header -->
    {{template "footer"}}
  <!-- end header -->
  
  <script src="/static/js/script.js"></script>
  <script src="/static/js/index.js"></script>

</body>

</html>