*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color-gray:gray;
    --color-black:black;
    --color-white:#fff;
    --fontSize16:16px;
    --color-linear-gradient:linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
}
.container{
    width: 100%;
    height: auto;
    margin-top:  150px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    padding-right: 1rem;
    z-index: -1;
}
.container *{
   font-size: var(  --fontSize16);

}

.container .container-2{
    width: 65%;
    box-sizing: border-box;
}





.post-displaying{
    width: 100%;
    margin-left: 2rem;
  display: grid;
    grid-template-columns: repeat(1,1fr);
    
   
}
 h3 ,h4{
    width: 100%;
    padding: 1rem 0.8rem;
    background-color: gainsboro;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    color: var(--header-color);
}
h4{
    text-align: center;
    background: var(--color-linear-gradient);
    color: var(--color-white);
}

.categorie-name-content {
    padding-bottom: 1rem;
}
.categorie-name-content i:first-of-type{
    color: var(--color-gray);
}
.categorie-name-content span:last-of-type{
    color: var(--header-color);
}
.categorie-specifique {
    width: 95%;
    height: fit-content;
    
   display: flex;
   flex-direction: column;
   padding: 1rem;
   margin-bottom: 2rem;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.categorie-specifique  .like-dislik-content
{
    display: flex;
    margin-top: 1rem;
}
.categorie-specifique  .like-dislik-content form{
    margin-right: 15px;
}
.categorie-specifique  .like-dislik-content form button{
 border: none;
    background-color: transparent;
    cursor: pointer;
}
.categorie-specifique div,
.categorie-specifique h6{
    margin-bottom: 0.5rem;
}

.categorie-specifique div span i,
.categorie-specifique div i{
   font-size: 1.2rem;
   margin-right: 0.2rem;
   color: var(--header-color);
}
.categorie-specifique div span{
    margin-right: 0.3rem;
    font-size: var(--fontSize16);
    text-transform: capitalize;
    font-weight: 700;
    color: var(--color-gray);
}
.categorie-specifique div .fa-comments{
    margin-right: 0.5rem;
    font-size: 22px;
}
.categorie-specifique div a{
    text-decoration: none;
    color: var(--color-gray);
}
.categorie-specifique h6{
   text-transform: capitalize;
   font-style: italic;
   color: var(--color-gray);
}
.title{
    font-size: 22px;
    padding-bottom: 1rem;
    font-weight: 600;
}
.author-date,.author-date2{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.categorie-specifique .author-date span,
.categorie-specifique .author-date2 span{
    margin: 0px 3px;
}
.categorie-specifique  .author-date *,
.content-comments  .author-date2 *{
      font-size: 12px;
  }
.categorie-specifique hr{
    margin: 1rem;
}
.categorie-specifique hr:last-of-type{
    display: none;
}
.comment{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.categorie-specifique .comment-btn button{
    color: var(--color-white);
    text-decoration: none;
    margin-bottom: 10px;
    width: fit-content;
    
    border: 2px solid transparent;
    padding: 5px 10px;
    background: var(--color-linear-gradient);
    cursor: pointer;
    text-transform: none;
}
.categorie-specifique .comment-btn button i {
    margin-right: 2px;
    color: var(--color-white);
  }
.content-comments{
    overflow-y: scroll;
    height: 13rem;
    padding-right: 0.5rem;
}
 /* width */
 .content-comments::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .content-comments::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .content-comments::-webkit-scrollbar-thumb {
    background: var(--header-color);
  }
  
  /* Handle on hover */
  .content-comments::-webkit-scrollbar-thumb:hover {
    background: var(--header-color);
  } 

/* Medias query */

@media screen and (max-width:1024px) {
.post-displaying{
    margin-left: 0rem;
}

}
@media screen and (max-width:768px) {
    .container .container-2{
        width: 100%;
        

    }
    .post-displaying{
        width: 100%;
      display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }
    .categorie-specifique{
        width: 100%;
    }
}
@media screen and (max-width:345px) {
    .categorie-specifique  .author-date {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .bar{
        display: none;
    }
}