/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');


:root{
  --color-white:#fff;
  --header-color: #8b5615;
  --color-linear-gradient:linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
}

body{
  background-color:  #edede9;
}

h1 {
  text-align: center;
  margin: 30px 15px;
  /* color: var(--header-color); */
  color: #0d1b2a;
}
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
  margin-bottom: 25px;
 
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #0d1b2a;
  
}
.error-container > span > span {
  display: inline-block;
  position: relative;
  
}
    
 .link-container {
  text-align: center;
  
  }


a{
  padding: 10px 10%;
  margin-bottom: 10px;
  border: none ;
  color: var(--color-white);
  outline: none;
  font-size: 20px;
   background: var(--color-linear-gradient);
  cursor: pointer;
  text-decoration: none;
}

a i{
  margin-right: 0.5rem;
}

.input-group{
  align-items: center;
  justify-content: center;
}
/* Medias query */
@media screen and (max-width: 1025px) {
  a{
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .error-container {
      font-size: 120px;
  }
 
}
@media screen and (max-width: 427px) {
  a{
    width: 85%;
  }
}
@media screen and (max-width: 320px) {
  .error-container *{
      font-size: 50px;
  }
  h1{
    font-size: 18px;
  }
 
}