/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-color1: #57534E;
    --header-color: #8b5615;
    --fontSize18:18px;
    --color-linear-gradient1:linear-gradient(to right,#77530a,#eab958,#77530a,#77530a,#d6aa51,#77530a);

}
body{
  background-color:  #edede9;
}
.alert1 {
    padding:20px;
    font-size: large;
    margin-bottom: 10rem;
    background-color: #abcfed;;
    color: white;
  }
  .alert-likePost{
    padding:10px 20px;
    font-size: large;
    margin-bottom: 1rem;
    background-color: #f44336;
    color: white;
    width: 84%;
  }
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: 1px solid #e5e7eb;
    /* background-color: #ffffff; */
    background-color: #0d1b2a;
    box-shadow: 0px 0px 8px;
   z-index: 10;
   
}
header *{
    /* color: var(--header-color); */
    color: #fff;
    font-size: var(--fontSize18);
}

header .nav2{
    display: flex;
   justify-content: space-around;
}
header .nav1 a,
header .nav2 form,
header .nav2 a {
    margin-right: 30px;
    text-transform: capitalize;
}
header .nav2 form input,
header .nav3 form input{
  background: transparent;
    padding: 5px;
    border: none;
    outline: none;
    
}

header .nav2 form .input,
header .nav3 form .input{
  border-bottom: 2px solid;
}
header .nav2 form .input::placeholder,
header .nav3 form .input::placeholder{
  color: #fff;
  margin-right:  1rem;
}
header .nav2 form .button--submit,
header .nav3 form .button--submit{
  padding-left: 15px;
  padding-right: 15px;
  background: var(--color-linear-gradient1);
  color: white;
 box-shadow: 2px 2px 2px var(--header-color);
 text-transform: capitalize;
 cursor: pointer;
}
header a{
    text-decoration: none;
    height: fit-content;
}

header  a:hover,
header .nav1 a:hover{
    background: var(--color-linear-gradient);
    color: var(--color-white);
    border: none;
    padding: 7px 15px;
}
header .nav3  div{
    float: right;
    width: fit-content;
}
header .nav3 .btn-fabars{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .nav3 .btn-fabars *{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  cursor: pointer;
}

.title-forum{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
   
}
header .nav3 {
    display: none;
}

/* footer */

footer{
    margin-top: 15rem;
    width: 100%;
    height:150px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    border-top: 1px solid #e5e7eb;
    /* background-color: #ffffff; */
    background-color: #0d1b2a;
    box-shadow: 0px 0px 2px;
}
footer *{
  color: var(--color-white);
}
  footer span a{
    color: var(--header-color);
    text-decoration: none;
  }
.tirer:first-of-type{
  display: none;
}

  /* Medias query */

  @media screen and (max-width:980px) {
    header{
        height: fit-content;
        display: flex;
        flex-direction: column;
      text-align: left;
      padding-top: 16px;
    }
      header .nav1,
      header .nav2  {
       display: none;
       
    }
    header .nav3
    {
        width: 100%;
        display: flex;
        flex-direction: column;
     }
    
     header .nav3  .content-link  *{
        display: flex;
        flex-direction: column;
     }
     header .nav3  .content-link  form{
      display: flex;
      flex-direction: row;
   }
     header .nav3 form .button--submit{
      margin-left: 6px;
      margin-top: 10px;
    }
     header .nav3 a {
        margin-bottom: 10px;
     }
  
  }
  @media screen and (max-width:375px) {
      header .nav3  .content-link  form{
      display: flex;
      flex-direction: column;
   }
  }