
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color-gray:gray;
    --color-black:black;
    --color-white:#fff;
    --fontSize16:16px;
    --color-linear-gradient:linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
}
/* ****************** */
.alert{
    margin-top:  120px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background: gainsboro;
    color: var(--header-color);
}


/* ****************** */
.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    margin-top:  30px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: -1;
}
.container *{
   font-size: var(  --fontSize16);

}
.container .container-1{
    width: 16rem;  
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.container .container-1 .btn-filter{
   width: 90%;
   padding: 8px 0rem;
   cursor: pointer;
   background: var(--color-linear-gradient);
   color: var(--color-white);
   border: none;
   box-shadow: 4px 4px 2px var(--color-gray);
   text-transform: capitalize;
   box-sizing: border-box;
}
.container .container-1 .btn-filter i{
   font-size: 20px !important;
}
.container .container-1 .filter-form{
    width: 90%;
    height: auto;
    background-color: #fff;
    margin-top: 0rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.container .container-1 .filter-form form .select-opt1 details summary{
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid var(--color-gray);
  cursor: pointer;
}
.container .container-1 .filter-form form .select-opt1 details div{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}
.container .container-1 .filter-form form .select-opt1 details div *{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
.container .container-1 .filter-form form  .content-date-filter{
    width: 100%;
    display: flex;
    margin-top: -5px;
    padding-top: 0px;
}
.container .container-1 .filter-form form  .content-date-filter input:last-of-type{
    margin-left: 5px;
}
.container .container-1 .filter-form form .select-opt1 details div input{
    width: 20px;
    margin-right: 0.5rem;
}
.container .container-1 .filter-form form .liked-post-content{
   
     display: flex;
     justify-content: space-between;
     
}
.container .container-1 .filter-form form .label-min-max{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}
.container .container-1 .filter-form form .label-min-max span{
    width: 50%;
}
.container .container-1 .filter-form form .label-min-max span:last-of-type{
   padding-left: 1rem;
}
.container .container-1 .filter-form form .liked-post-content input{
    width: 48%;
    margin: 0;
}

.container .container-1 .filter-form form{
    display: flex;
    flex-direction: column;
    padding: 25px 5px 10px 5px;
}

.container .container-1 .filter-form form *{
    width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
}

.container .container-1 .filter-form form div  input,
.container .container-1 .filter-form form div div input{
    padding: 5px 5px;
    margin-top: 0.5rem;
}

.container .container-1 .filter-form form div  label,
.container .container-1 .filter-form form div div label{
    text-transform: capitalize;
    color: var(--color-gray);
}

.container .container-1 .filter-form form div  label:first-of-type{
    font-weight: bold;
}
.container .container-1 .filter-form form button{
    padding: 8px 0px;
    background: var(--color-linear-gradient);
    border: none;
    color: var(--color-white);
    text-transform: capitalize;
    cursor: pointer;
}
.container .container-2{
    width: 78%;
    box-sizing: border-box;
}
.container .container-2 .categori-menu{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 1rem;
    
}
.container .container-2 .categori-menu {
    scrollbar-width: thin;
    scrollbar-color:  var(--color-white) var(--color-white); 
}

.container .container-2 .categori-menu::-webkit-scrollbar {
    height: 0px;
}

.container .container-2 .categori-menu::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
}

.container .container-2 .categori-menu::-webkit-scrollbar-track {
    background-color:var(--color-white); 
}

.title{
    font-size: 18px;
    padding-bottom: 1rem;
    font-weight: 600;
}



.container .container-2 .categori-menu input{
    width: 120px;
    height: 40px;
    margin-right: 2rem;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: 1px solid var( --header-color);
    text-transform: capitalize;
}
.container .container-2 .categori-menu input:hover {
    background: var(--color-linear-gradient);
   color: var(--color-white);
   border-radius: 0.5rem;
}
.container .container-2 .bloc-add-post{
    display: block;
}
.container .container-2 .bloc-add-post form{
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;

}
.container .container-2 .bloc-add-post form textarea{
  font-size: small;
}
.container .container-2 .bloc-add-post form div *{
    width: 50%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--header-color);
    text-transform: capitalize;
    resize: none;
    outline: none;
}
/* the checkbox */
.container .container-2 .bloc-add-post form .select-opt,
.container .container-2 .bloc-add-post form .select-opt details,
.container .container-2 .bloc-add-post form .select-opt details  input,
.container .container-2 .bloc-add-post form .select-opt details  label{
    border: none;
    
}
.container .container-2 .bloc-add-post form .select-opt details,
.container .container-2 .bloc-add-post form .select-opt details  input,
.container .container-2 .bloc-add-post form .select-opt details  label{
    width: fit-content;
    cursor: pointer;
}

.container .container-2 .bloc-add-post form .select-opt details input {
    margin-left: 1rem;
}
.container .container-2 .bloc-add-post form .select-opt details summary {
    width: 67%;
}
.container .container-2 .bloc-add-post form .select-opt{
    padding-left: 24%;
    margin-bottom: 0px;
}
.container .container-2 .bloc-add-post form .select-opt details{
   width: 100%;
   text-align: left;
   cursor: pointer;
   padding-bottom: 0px;
   margin-bottom:0px ;
}
.container .container-2 .bloc-add-post form button{
    padding:1rem 6rem;
    background: var(--color-linear-gradient);
    color: var(--color-white);
    text-transform: capitalize;
    box-shadow: 3px 3px 1px var(--color-gray);
    border: none;
    cursor: pointer;
}
.new-post{
    padding:0.5rem 0rem;
    margin-bottom: 2rem;
    width: 8rem;
    background: var(--color-linear-gradient);
    text-align: center;
    color: var(--color-white);
    box-shadow: 4px 4px 2px var(--color-gray);
    cursor: pointer;
}

.new-post i{
    font-size: var(--fontSize18);
    margin-right: 0.1rem;
}
.post-displaying{
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: repeat(1,1fr);
    gap: 150;
}
 h3 {
    width: 100%;
    padding: 1rem 0.8rem;
    background-color: gainsboro;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    color: var(--header-color);
}
.categorie-specifique {
    /* width: 95%; */
    width: 84%;
   display: flex;
   flex-direction: column;
   padding: 1rem;
   /* margin-bottom: 2rem; */
   margin-bottom: 3rem;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.categorie-name-content {
    padding-bottom: 1rem;
}
.categorie-name-content i:first-of-type{
    color: var(--color-gray);
}
.categorie-name-content span:last-of-type{
    /* font-size: 14px; */
    color: var(--header-color);
}
.categorie-specifique .comment-btn button{
    color: var(--color-white);
    text-decoration: none;
    margin-bottom: 10px;
    width: fit-content;
    
    border: 2px solid transparent;
    padding: 5px 10px;
    background: var(--color-linear-gradient);
    cursor: pointer;
    text-transform: none;
}
.categorie-specifique .comment-btn button i {
    margin-right: 2px;
    color: var(--color-white);
  }
.categorie-specifique  .like-dislik-content
{
    display: flex;
}
.categorie-specifique  .like-dislik-content form{
    margin-right: 15px;
}
.categorie-specifique  .like-dislik-content form button{
 border: none;
    background-color: transparent;
    cursor: pointer;
}
.categorie-specifique div,
.categorie-specifique h6{
    margin-bottom: 0.5rem;
}
.comment{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.content-comments{
    overflow-y: scroll;
    height: 13rem;
    padding-right: 0.5rem;
}
 /* width */
 .content-comments::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .content-comments::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .content-comments::-webkit-scrollbar-thumb {
    background: var(--header-color);
  }
  
  /* Handle on hover */
  .content-comments::-webkit-scrollbar-thumb:hover {
    background: var(--header-color);
  } 
.categorie-specifique div span i,
.categorie-specifique div i{
   font-size: 1.2rem;
   margin-right: 0.2rem;
   color: var(--header-color);
}
.categorie-specifique div span{
    margin-right: 0.3rem;
    font-size: var(--fontSize16);
    text-transform: capitalize;
    font-weight: 700;
    color: var(--color-gray);
}
.categorie-specifique div .fa-comments{
    margin-right: 0.5rem;
    font-size: 22px;
}
.categorie-specifique div a{
    text-decoration: none;
    color: var(--color-gray);
}
.categorie-specifique h6{
   text-transform: capitalize;
   font-style: italic;
   color: var(--color-gray);
}
.author-date{
    display: flex;
    justify-content: flex-end;
}
.author-date2{
    display: flex;
    justify-content: flex-end;
}
.categorie-specifique .author-date span,
.categorie-specifique .author-date2 span{
    margin: 0px 3px;
}
.categorie-specifique  .author-date *,
.content-comments  .author-date2 *{
      font-size: 12px;
  }
.see-post{
    margin: 2rem 0rem;
    width: 100%;
    text-align: center;
}
.see-post a{
    text-decoration: none;
    color: var(--header-color);
}
.categorie-specifique hr{
    margin: 1rem;
}
.categorie-specifique hr:last-of-type{
    display: none;
}

.mypage{
    background: var(--color-linear-gradient);
    color: var(--color-white);
    padding: 7px 15px;
}

/* ************************************* */
.pagination {
    display: flex;
    justify-content: center;
    width: 78%;
    
  }
  .pagination a:first-child{
    cursor: auto;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
   .pagination a.active {
    background-color: var(--header-color);
    color: white;
  }
   .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
   .actives{
    background-color:  aqua;
    cursor: pointer;
   }

/* medias querys */
@media screen and (max-width:1024px) {
    .alert{
        margin-top:  110px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 20px;
        background: gainsboro;
        color: var(--header-color);
    }
    .container .container-1 .filter-form{
        width: 18rem;
        z-index: 1;
        
     }
     .categorie-specifique {
        width: 90%;
    }
    .new-post{
        width: 13rem;
    }
}

@media screen and (max-width:768px) {
    .container{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        padding-top: 0rem;
    }
    .container .container-1{
        width: 15rem;
        border: none;
        height: fit-content;
        margin-bottom: 2rem;
     }
     .container .container-1 .filter-form{
        width: 18rem;
     }
     .container .container-2{
        width: 100%;
    }

    .post-displaying{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 150;
    }
    .categorie-specifique {
        width: 98%;
    }
    .title{
        font-size: 18px;
    }
    .categorie-specifique  .author-date *,
  .content-comments  .author-date2 *{
        font-size: 12px;
    }
}
@media screen and (max-width:500px) {

    .container .container-2 .bloc-add-post form div *{
        width: 94%;
    }
    .container .container-2 .bloc-add-post form .select-opt details summary {
        width: 100%;
    }
    .container .container-2 .bloc-add-post form .select-opt{
        padding-left: 0%;
        margin-bottom: 0px;
    }
}
@media screen and (max-width:345px) {
    .categorie-specifique  .author-date {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .bar{
        display: none;
    }
}