<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- cdn font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>forum</title>
</head>
<body>

    <!-- begin header -->
    <header>
           <nav class="nav1">
              <a href="#">Home</a>
              <a href="#">my page</a>
           </nav>
           <nav class="nav2">
                <form action="#" method="post">
                    <input type="search" class="input"  placeholder="search here">
                    <input class="button--submit" value="search" type="submit">
                </form>
                <a href="registre.page.html">register</a>
                <a href="login.page.html">sign in</a>
                <a href="#">account</a>
                <a href="#">sign out</a>
                
           </nav>
    </header>
<!-- end header -->

<!-- begin body -->
   <main class="container">
      <div class="container-1">
         <button  class="btn-filter">filter</button>
          <div class="filter-menue">
              
          </div>
        </div>
      <div class="container-2">
        <div class="categori-menu">
           <form action="#" method="post">
             
             <input type="submit" placeholder="education" value="education">
            </form>
           <form action="#" method="post">
            <input type="submit" value="sport">
          </form>
          <form action="#" method="post">
            <input type="submit" value="art">
          </form>
          <form action="#" method="post">
            <input type="submit"  value="culture">
          </form>
          <form action="#" method="post">
            <input type="submit"  value="cooking">
          </form>
          <form action="#" method="post">
            <input type="submit"  value="science">
          </form>
          <form action="#" method="post">
            <input type="submit" value="dance">
          </form>
          <form action="#" method="post">
            <input type="submit" value="music">
          </form>
          <form action="#" method="post">
            <input type="submit"  value="politic">
          </form>
          <form action="#" method="post">
            <input type="submit"  value="religion">
          </form>
          <form action="#" method="post">
            <input type="submit"  value="religion">
          </form>
          <form action="#" method="post">
            <input type="submit"  value="religion">
          </form>
        </div>

        <div class="bloc-add-post">
          <div class="new-post"><i class="fa-solid fa-plus"></i> new post</div>
            <!-- <form action="#" method="post">
              <div>
                <select name="categorie" >
                  <option selected>post categorie </option>
                    <option value="education">education</option>
                    <option value="sport">sport</option>
                    <option value="art">art</option>
                    <option value="culture">culture</option>
                    <option value="cooking">cooking</option>
                    <option value="science">science</option>
                    <option value="dance">dance</option>
                    <option value="music">music</option>
                    <option value="politic">politic</option>
                    <option value="religion">religion</option>
                </select>
              </div>
              <div>
                <input type="text" placeholder="title post" >
              </div>
              <div>
                <textarea name="" id="" cols="30" rows="10"></textarea>
              </div>
               <button type="submit">add post</button>
            </form> -->
           
        </div>
        
       <!-- block post and comment -->
        <h3>education</h3>
        <div class="post-displaying">         
          <div class="categorie-specifique">                             
               <div>
                <!-- posts -->
                  <div><span>auteur:</span></div>
                  <div><span>date: </span></div>
                  <div>title post</div>
                  <div>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non earum neque voluptatem, est minima libero iusto quis magnam atque fuga illum exercitationem? Fuga voluptate, necessitatibus odit odio exercitationem itaque beatae.
                  </div>
              </div>
              <div><span><i class="fa-regular fa-thumbs-up"></i></span> <span><i class="fa-regular fa-thumbs-down"></i></span></div>
              
              <!-- comment -->
               <h5>comments</h5>
               <div><span>auteur:</span></div>
               <div><span>date:</span></div>
               <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam hic ut, atque perspiciatis ducimus enim voluptate velit architecto, quod ea nobis, necessitatibus molestias placeat assumenda incidunt suscipit modi! Reprehenderit, perspiciatis.</div>
               <span><i class="fa-solid fa-circle-right"></i>see more...</span>
         </div>
         <!-- <div class="categorie-specifique">                             
          <div>
           < !-- posts -- >
             <div><span>auteur:</span></div>
             <div><span>date: </span></div>
             <div>title post</div>
             <div>
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non earum neque voluptatem, est minima libero iusto quis magnam atque fuga illum exercitationem? Fuga voluptate, necessitatibus odit odio exercitationem itaque beatae.
             </div>
         </div>
         <div><span><i class="fa-regular fa-thumbs-up"></i></span> <span><i class="fa-regular fa-thumbs-down"></i></span></div>
         
         < !-- comment -- >
          <h5>comments</h5>
          <div><span>auteur:</span></div>
          <div><span>date:</span></div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam hic ut, atque perspiciatis ducimus enim voluptate velit architecto, quod ea nobis, necessitatibus molestias placeat assumenda incidunt suscipit modi! Reprehenderit, perspiciatis.</div>
          <span><i class="fa-solid fa-circle-right"></i>see more...</span>
        </div> -->
        
      </div>
      <!-- <h3>sport</h3>
      <div class="post-displaying">         
        <div class="categorie-specifique">                             
             <div>
              < !-- posts -- >
                <div><span>auteur:</span></div>
                <div><span>date: </span></div>
                <div>title post</div>
                <div>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non earum neque voluptatem, est minima libero iusto quis magnam atque fuga illum exercitationem? Fuga voluptate, necessitatibus odit odio exercitationem itaque beatae.
                </div>
            </div>
            <div><span><i class="fa-regular fa-thumbs-up"></i></span> <span><i class="fa-regular fa-thumbs-down"></i></span></div>
            
            < !-- comment -- >
             <h5>comments</h5>
             <div><span>auteur:</span></div>
             <div><span>date:</span></div>
             <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam hic ut, atque perspiciatis ducimus enim voluptate velit architecto, quod ea nobis, necessitatibus molestias placeat assumenda incidunt suscipit modi! Reprehenderit, perspiciatis.</div>
             <span><i class="fa-solid fa-circle-right"></i>see more...</span>
       </div>
       <div class="categorie-specifique">                             
        <div>
         < !-- posts -- >
           <div><span>auteur:</span></div>
           <div><span>date: </span></div>
           <div>title post</div>
           <div>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non earum neque voluptatem, est minima libero iusto quis magnam atque fuga illum exercitationem? Fuga voluptate, necessitatibus odit odio exercitationem itaque beatae.
           </div>
       </div>
       <div><span><i class="fa-regular fa-thumbs-up"></i></span> <span><i class="fa-regular fa-thumbs-down"></i></span></div>
       
       < !-- comment -- >
        <h5>comments</h5>
        <div><span>auteur:</span></div>
        <div><span>date:</span></div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam hic ut, atque perspiciatis ducimus enim voluptate velit architecto, quod ea nobis, necessitatibus molestias placeat assumenda incidunt suscipit modi! Reprehenderit, perspiciatis.</div>
        <span><i class="fa-solid fa-circle-right"></i>see more...</span>
      </div>
    </div> -->
      

      </div>
   </main>

<!-- end body -->



</body>
</html>