<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/myPage.css">
    <!-- cdn font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>forum</title>
</head>
<body>

<!-- begin header -->
<header>
  <nav class="nav1">
      <a href="/template/pages/index.page.html">Home</a>
      <a href="/template/pages/myPage.page.html">my page</a>

  </nav>
  <nav class="nav2">
       <form action="#" method="post">
           <input type="search" class="input"  placeholder="search here">
           <input class="button--submit" value="search" type="submit">
       </form>
       <a href="registre.page.html">register</a>
       <a href="login.page.html">sign in</a>
       <a href="account.html">account</a>
       <a href="#">sign out</a>
       
  </nav>
  <nav class="nav3">
      <div class="btn-fabars drop-daown"><span>forum</span><i class="fa-solid fa-bars"></i></div> 
      <div class="content-link">
          <a href="/template/pages/index.page.html">Home</a>
          <a href="/template/pages/myPage.page.html">my page</a>
          <a href="registre.page.html" class="drop-daown">register</a>
          <a href="login.page.html" class="drop-daown">sign in</a>
          <a href="account.html" class="drop-daown">account</a>
          <a href="#" class="drop-daown">sign out</a>
          <form action="#" method="post" class="drop-daown">
              <input type="search" class="input"  placeholder="search here">
              <input class="button--submit" value="search" type="submit">
          </form>
       </div>
  </nav>
</header>
<!-- end header -->

<!-- begin body -->
   <main class="container">
    <!-- filter form -->
      <div class="container-1">
         <button  class="btn-filter"><i class="fa-solid fa-filter"></i> filter</button>
        
          <div class="filter-form">
            <form action="" method="post">
              <select name="categorie" required >
               
                <option selected>categories </option>
              </select>
            <div> 
                <label for="creation-date">created posts</label>
                <input type="date">
            </div>
            <div> 
              <label for="creation-date">time posted</label>
              <input type="time">
          </div>
            <div>
              <div>
                <label for="">liked posts</label>
                <input type="number" min="0">
              </div>
              <div>
                <label for="">disliked posts</label>
                <input type="number" min="0">
             </div>
            </div>
            <div>
              <label ></label>
            </div>
            <button type="submit">filter</button>
            </form>
          </div>
        </div>

      <div class="container-2">
        <div class="categori-menu">
           <form action="" method="post"> 
              <input type="hidden" name="categorie" value="">            
              <input type="submit" value="education">
            </form>                   
        </div>

        <!-- form add post -->
        <div class="bloc-add-post">
          <div class="new-post"><i class="fa-solid fa-plus"></i> New Post</div>
           <form class="form-new-post" action="#" method="post">
              <div>              
                <select name="categorie" required >                    
                  <option selected>post categorie </option>
                </select>
              </div>
              <div>
                <input type="text" placeholder="title post" required>
              </div>
              <div>
                <textarea name="" id="" cols="30" rows="5" required>content here</textarea>
              </div>
               <button type="submit">add post</button>
            </form> 
           
        </div>
        
       <!-- block post and comment -->
      <h3>education</h3>
        <div class="post-displaying">         
            <div class="categorie-specifique">                             
                <!-- posts -->              
                <div class="title"><span> <i class="fa-solid fa-heading"></i>title:</span>sit amet consectetur</div>
                
                <div><i class="fa-regular fa-comments"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non earum neque voluptatem, est minima libero iusto quis magnam atque fuga illum exercitationem? Fuga voluptate, necessitatibus odit odio exercitationem itaque beatae.</div>
                 
                <div class="author-date">
                    <div><span><i class="fa-solid fa-at"></i>author:</span>ssambadi</div>
                    <span>|</span>
                    <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>15/08/2023 at 4pm </div>
                </div>

                <div class="like-dislik-content">
                      <form action="" method="post">
                        <input type="hidden" name="liked" value="">
                        <button type="submit"><i class="fa-regular fa-thumbs-up"></i>122</button>
                      </form>
                      <form action="" method="post">
                        <input type="hidden" name="disliked" value="">
                        <button type="submit"><i class="fa-regular fa-thumbs-down"></i>1</button>
                      </form>
                </div>

            </div>

            <div class="categorie-specifique">                                        
                <!-- comment -->
                <h6>all comments</h6>
               
                <div><i class="fa-regular fa-comments"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam hic ut, atque perspiciatis ducimus enim voluptate velit architecto, quod ea nobis, necessitatibus molestias placeat assumenda incidunt suscipit modi! Reprehenderit, perspiciatis.</div>
                <div class="author-date2">
                  <div><span><i class="fa-solid fa-at"></i>author:</span>alo</div>
                  <span>|</span>
                  <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>15/08/2023 at 2am </div>
                </div>

                <div class="like-dislik-content">
                    <form action="" method="post">
                      <input type="hidden" name="liked" value="">
                      <button type="submit"><i class="fa-regular fa-thumbs-up"></i>9</button>
                    </form>
                    <form action="" method="post">
                      <input type="hidden" name="disliked" value="">
                      <button type="submit"><i class="fa-regular fa-thumbs-down"></i>2</button>
                    </form>
                  </div>
                <hr>

                  
            </div>
          </div>
         
      </div>
    

   </main>
<!-- end body -->
  <!--begin footer -->

<footer>
    <p>Copyright ©<span> Zone01 Dakar</span> | 2023 - Tous droits réservés</p>
    <p>Ce thème a été développé par <span>@osamb</span> - <span>@mouhametadiouf</span> - <span>@dAlassane</span> - <span>@alo</span> - <span>@ssambadi</span> </p>
</footer>
<!-- end footer -->

<script src="/static/js/index.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>