<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
     <!-- cdn font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Account</title>
</head>
<body>
<!-- begin header -->
    {{template "header"}}
<!-- end header -->
    <div class="SignIn-Registre">
         <h1>Update</h1>
        <form action="/update" method="post" >

            <input type="text" id="username" name="username" placeholder="Nouveau nom d'utilisateur" class="inputForm" required><br><br>
            
            <input type="password" id="old_password" name="old_password" placeholder="Ancien mot de pass" class="inputForm" required><br><br>

            <input type="password" id="new_password" name="new_password" placeholder="Nouveau mot de passe"class="inputForm"  required><br><br>
            
            <input type="submit"  class="submitForm" value="Update"> 
        </form>
    </div>
    
  <!-- begin header -->
  {{template "footer"}}
  <!-- end header -->    

    <script src="/static/js/script.js"></script>
</body>
</html>