<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/myPage.css">
  <!-- cdn font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>forum</title>

</head>

<body>

  <!-- begin header -->

  {{template "header" .}}
  <!-- end header -->

  <!-- begin body -->
  <div class="alert">   
    <strong>Success!</strong> here you can see all the posts you have published.
  </div>
  
  <main class="container">
    <!-- filter form -->
    <div class="container-1">
      <button class="btn-filter"><i class="fa-solid fa-filter"></i> filter</button>
      <div class="filter-form">
        {{template "FilterForm" .}}
      </div>
    </div>

    <div class="container-2">
     <!-- menu categorie -->
     {{template "categorieMenuMyPage" .}}

      <!-- form add post -->
      <div class="bloc-add-post">
        {{template "addPostForm" .}}
      </div>

      <!-- block post and comment -->
      
      <div class="post-displaying">
        {{if len .Datas}}
          {{range .Datas}}
          {{template "post" .}}
          {{end}}
        {{else}}
          <div class="alert1">
            <strong>Info!</strong> you have nothing posted yet.
          </div>
        {{end}}

      </div>

      <!-- pagination -->
      {{template "pagination"}}

  </main>
  <!-- end body -->

  <!--begin footer -->
  {{template "footer"}}
  <!-- end footer -->

  <script src="/static/js/index.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/pagination.js"></script>
</body>

</html>