{{ template "error" . }}

{{ define "content" }}
<div style="height: 200px;">
    <p></p>
</div>
<div class="errorPage">
    <div class="error">
        <p class="errorstatut">404</p>

    </div>
    
    <a href="http://localhost:8081">Go Back Home</a>
</div>

{{ end }}