
{{define "categorieMenuMyPage"}}
<div class="categori-menu">
  <form action="/mypage" method="post">
  <input type="hidden" name="categorie" value="">
    <input type="submit" value="All" class="all">
  </form>
  <span style="display: none;" class="category-id">{{.CategoryID}}</span>
  {{ range .Category}}
  <form action="/mypage" method="GET">
    <input type="hidden" name="categorie" value="{{.ID}}" class="categories-id">
    <input type="submit" value="{{.NameCategory}}" class="submit-btn">
  </form>
  {{end}}
</div>
{{end}}

{{define "FilterForm" }}
<form action="/filter" method="post">
 
  <div style="border: none;display: flex;justify-content: center;">
    <p class="error-post-filter" style="border: none; text-align: left;font-size: small;text-transform: lowercase;margin-left: 0rem;color: red;">
        <i class="fa-solid fa-triangle-exclamation" style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem;"></i>
        <span style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem ;" >{{.ErrorFilter}}</span>
    </p>
  </div>
  <div class="select-opt1">
    <details>
      <summary>Choose the categories</summary>
      {{ range .Category}}
      <div><input type="checkbox" name="category" value="{{.ID}}" /><label>{{.NameCategory}}</label></div>
      {{end}}
    </details>
  </div>
  <div>
      <label for="creation-date">created posts</label>
      <label class="label-min-max"><span>min-date</span> <span>max-date</span></label>
      <p class="content-date-filter">
        <input type="date" name="date1" value="2023-08-01">
        <input type="date" name="date2" value="2025-08-01">
      </p>    
  </div>
  <div>
    <div>
      <label>liked posts</label><br>
      <label class="label-min-max"><span>min-value</span> <span>max-value</span></label>
      <div class="liked-post-content">
        <input type="number" name="likemin" min="0" placeholder="0" value="0">
        <input type="number" name="likemax" min="0" placeholder="1000" value="1000">
      </div>
    </div>
  </div>
  <button type="submit">filter</button>
</form>
{{end}}

{{define "FilterFormMyPage" }}
<form action="/filtermypage" method="post">
 
      <div style="border: none;display: flex;justify-content: center;">
        <p class="error-post-filter" style="border: none; text-align: left;font-size: small;text-transform: lowercase;margin-left: 0rem;color: red;">
            <i class="fa-solid fa-triangle-exclamation" style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem;"></i>
            <span style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem ;" ></span>
        </p>
      </div>


  <div class="select-opt1">
    <details>
      <summary>Choose the categories</summary>
      {{ range .Category}}
      <div><input type="checkbox" name="category" value="{{.ID}}" /><label>{{.NameCategory}}</label></div>
      {{end}}
    </details>
  </div>
  <div>
      <label for="creation-date">created posts</label>
      <label class="label-min-max"><span>min-date</span> <span>max-date</span></label>
      <p class="content-date-filter">
        <input type="date" name="date1" value="2023-08-01">
        <input type="date" name="date2" value="2025-08-01">
      </p>    
  </div>
  <div>
    <div>
      <label>liked posts</label><br>
      <label class="label-min-max"><span>min-value</span> <span>max-value</span></label>
      <div class="liked-post-content">
        <input type="number" name="likemin" min="0" placeholder="0" value="0">
        <input type="number" name="likemax" min="0" placeholder="1000" value="1000">
      </div>
    </div>
  </div>
  <button type="submit">filter</button>
</form>
{{end}}


{{define "addPostForm"}}
<div class="new-post"><i class="fa-solid fa-plus"></i> New Post</div>

<form class="form-new-post" action="/addpost" method="post">
  <div style="border: none;display: flex;justify-content: center;">
      <p class="error-post" style="border: none; text-align: left;font-size: small;text-transform: lowercase;margin-left: 0rem;color: red;">
          <i class="fa-solid fa-triangle-exclamation" style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem;"></i>
          <span style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem ;" >{{.Error}}</span>
       </p>
  </div>
  <!-- checbox -->
  <div class="select-opt">
    <details>
      <summary>Choose the categories</summary>
      {{ range .Category}}
      <input type="checkbox" name="category" value="{{.ID}}" class="checkboxx"  /><label>{{.NameCategory}}</label><br>
      {{end}}
    </details>
  </div>
  <div>
    <input type="text" name="title" id="title" placeholder="title post" class="titles" required>
  </div>
  <div>
    <textarea name="content" id="content" cols="30" rows="5" maxlength="500" required style="font-size: small;"
      placeholder="put the content here"></textarea>
  </div>
    {{ if .Session }}
      <button type="submit" class="btn-submit-form"> <i class="fa-solid fa-paper-plane" style="width: fit-content;color: #221f51;margin-right: 4px;"></i>add post</button>
    {{ else }}
      <p style="color: red;font-size: 12px;"><i class="fa-solid fa-triangle-exclamation" style="color: red;width: fit-content;margin-right: 4px;"></i>Please log in to submit a post.</p><br>
    <div class="like-deconnected sub-post"  style=" padding: 0px;width: 100%;display: flex;justify-content: center; color: #fff;">
        <i class="fa-solid fa-paper-plane" style="cursor: pointer;padding: 12px 5rem;padding-right: 3px; color: #221f51;width: fit-content;  border: none;background: var(--color-linear-gradient);"></i>
         <span style="cursor: pointer;padding: 12px 5rem;padding-left: 1px; width: fit-content;background: var(--color-linear-gradient);border: none;">add post</span>
      </div> 
    {{ end }}
</form>
{{end}}

{{define "addPostFormForMyPage"}}
<div class="new-post"><i class="fa-solid fa-plus"></i> New Post</div>

<form class="form-new-post" action="/addpostmypage" method="post">
  <!-- checbox -->
  <div style="border: none;display: flex;justify-content: center;" >
    <p class="error-post" style="border: none; text-align: left;font-size: small;text-transform: lowercase;margin-left: 0rem;color: red;">
        <i class="fa-solid fa-triangle-exclamation" style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem;"></i> 
        <span style="border: none;width: fit-content;height: fit-content;font-size: small;padding: 0rem ;" >{{.Error}}</span>
     </p>
</div>
  <div class="select-opt">
    <details>
      <summary>Choose the categories</summary>
      {{ range .Category}}
      <input type="checkbox" name="category" value="{{.ID}}" class="checkboxx"  /><label>{{.NameCategory}}</label><br>
      {{end}}
    </details>
  </div>
  <div>
    <input type="text" name="title" id="title" placeholder="title post" class="titles" required>
  </div>
  <div>
    <textarea name="content" id="content" cols="30" rows="5" maxlength="500" required style="font-size: small;"
      placeholder="put the content here"></textarea>
  </div>
    {{ if .Session }}
      <button type="submit" class="btn-submit-form"><i class="fa-solid fa-paper-plane" style="width: fit-content;color: #221f51;margin-right: 4px;"></i>add post</button>
    {{ else }}
      <p style="color: red;font-size: 12px;">Please log in to submit a post.</p><br>
      <button  class="disabled-btn"><i class="fa-solid fa-paper-plane" style="width: fit-content;color: #221f51;margin-right: 4px;"></i>add post</button>
    {{ end }}
</form>
{{end}}




{{define "post"}}
<div class="categorie-specifique">
  <!-- posts -->
  <div class="categorie-name-content"><span><i class="fa-solid fa-square-poll-horizontal"></i>Categorie:</span>

    <span>
      {{range .Posts.Categories}}
      <span class="tirer">-</span>{{.NameCategory}}
      {{end}}
    </span>

  </div>
  <!-- Title -->
  <div class="title"><span><i class="fa-solid fa-feather"></i> Title:</span>{{.Posts.Title}}</div>

  <!-- Content -->
  <div><i class="fa-solid fa-quote-left"></i> {{.Posts.Content}}<i class="fa-solid fa-quote-left"
      style="margin-left: 5px;"></i> </div>
  <!-- Info post -->
  <div class="author-date">
    <div><span><i class="fa-solid fa-at"></i>author:</span>{{.User.Username}} </div>
    <span class="bar">|</span>
    <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>{{.Posts.CreatedAt}}</div>
  </div>
  <!-- like and dislike -->
  <div class="like-dislik-content">
    <form action="/likepost" method="post">
      
      <input type="hidden" id="post_id" name="post_id" value="{{.Posts.ID}}">
      <input type="hidden" name="route" id="route" value="{{.Route}}">
      {{if .Liked}}
        <button type="submit"><i class="fa-solid fa-thumbs-up"id="like" style="color: rgb(143, 101, 12);"></i>{{.PostLike}}</button>
      {{else}}  
        <button ><i class="fa-regular fa-thumbs-up" ></i>{{.PostLike}}</button>
      {{end}}
    </form>
    <form action="/dislikepost" method="post">
      <input type="hidden" id="post_id" name="post_id" value="{{.Posts.ID}}">
      <input type="hidden" name="route" id="route" value="{{.Route}}">
      {{if .Disliked}}
      <button type="submit"><i class="fa-solid fa-thumbs-down"id="dislike" style="color: rgb(143, 101, 12);"></i>{{.PostDislike}}</button>
      {{else}}
      <button ><i class="fa-regular fa-thumbs-down"></i>{{.PostDislike}}</button>
      {{end}}
    </form>
  </div>
  <!-- Comment button -->
  <div class="comment ">
    
    <form action="/post" method="GET" class="comment-btn">
      <input type="hidden" name="post_id" id="post_id" value="{{.Posts.ID}} ">
      <button type="submit"><i class="fa-solid fa-pen-to-square " style="color: #221f51;"></i>comment here</button>
      
    </form>
    
  </div>

  <!-- comment -->
  {{if len .Comment }}
    <h6>all comments</h6>   
    <div class="content-comments">
      {{range .Comment}}
        {{template "comment_with_session" .}}
        <hr class="separ-comment">
      {{end}}
    </div>
  {{end}}
 
</div>

{{end}}

<!-- Post si le user est deconnecté -->
{{define "post_disconected"}}
<div class="categorie-specifique">
  <!-- posts -->
  <div class="categorie-name-content"><span><i class="fa-solid fa-square-poll-horizontal"></i>Categorie:</span>

    <span>
      {{range .Posts.Categories}}
      <span class="tirer">-</span>{{.NameCategory}}
      {{end}}
    </span>

  </div>

  <div class="title"><span><i class="fa-solid fa-feather"></i> Title:</span>{{.Posts.Title}}</div>

  <div><i class="fa-solid fa-quote-left"></i> {{.Posts.Content}}<i class="fa-solid fa-quote-left"
      style="margin-left: 5px;"></i> </div>

  <div class="author-date">
    <div><span><i class="fa-solid fa-at"></i>author:</span>{{.User.Username}} </div>
    <span class="bar">|</span>
    <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>{{.Posts.CreatedAt}}</div>
  </div>

  <div class="like-dislik-content">
    <div>
      <input type="hidden" name="liked" value="">
      <button title="you can't like while you're offline" class="like-deconnected" style="background: transparent;border: none;padding-right: 8px;"><i class="fa-regular fa-thumbs-up"></i>{{.PostLike}}</button>
    </div>
    <div>
      <input type="hidden" name="disliked" value="">
      <button title="you can't dislike while you're offline" class="like-deconnected" style="background: transparent;border: none;"><i class="fa-regular fa-thumbs-down"></i>{{.PostDislike}}</button>
    </div>
  </div>

  <div class="comment ">
    <form action="/post" method="GET" class="comment-btn">
      <input type="hidden" name="post_id" id="post_id" value="{{.Posts.ID}} ">
      <button type="submit" ><i class="fa-solid fa-pen-to-square " style="color: rgb(143, 101, 12);"></i>comment here</button>
    </form>
  </div>

  <!-- comment -->
  {{if len .Comment }}
  <h6>all comments</h6>
  
  <div class="content-comments" >
    {{range .Comment}}
      {{template "comment_without_session" .}}
      <hr class="separ-comment">
    {{end}}
    
  </div>
  {{end}}
 
</div>

{{end}}

{{define "comment_with_session"}}
<div><i class="fa-regular fa-comments"></i>{{.Comment.Content}}</div>
<div class="author-date2">
  <div><span><i class="fa-solid fa-at"></i>author:</span>{{.User.Username}}</div>
  <span class="bar">|</span>
  <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>{{.Comment.CreatedAt}}</div>
</div>
<div class="like-dislik-content">
  <form action="/likecomment" method="post">
    <input type="hidden" id="comment_id" name="comment_id" value="{{.Comment.ID}}">
    <input type="hidden" name="route" id="route" value="{{.Route}}">
    
    {{if .Liked}}
      <button type="submit"><i class="fa-solid fa-thumbs-up"  style="color:  rgb(143, 101, 12);"></i>{{.CommentLike}}</button>
    {{else}}  
      <button type="submit"><i class="fa-regular fa-thumbs-up"></i>{{.CommentLike}}</button>
    {{end}}
  </form>
  <form action="/dislikecomment" method="post">
    <input type="hidden" id="comment_id" name="comment_id" value="{{.Comment.ID}}">
    <input type="hidden" name="route" id="route" value="{{.Route}}">
    {{if .Disliked}}
      <button type="submit"><i class="fa-solid fa-thumbs-down fa-thumbs-down1"  style="color: rgb(143, 101, 12);"></i>{{.CommentDislike}}</button>
    {{else}}  
      <button type="submit"><i class="fa-regular fa-thumbs-down"></i>{{.CommentDislike}}</button>
    {{end}}
  </form>
</div>

{{end}}

{{define "comment_without_session"}} 
<div><i class="fa-regular fa-comments"></i>{{.Comment.Content}}</div>
<div class="author-date2">
  <div><span><i class="fa-solid fa-at"></i>author:</span>{{.User.Username}}</div>
  <span class="bar">|</span>
  <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>{{.Comment.CreatedAt}}</div>
</div>
<div class="like-dislik-content">
  <div>
    <button class="like-deconnected" style="background: transparent;border: none;padding-right: 8px;"><i class="fa-regular fa-thumbs-up"></i>{{.CommentLike}}</button>
  </div>
  <div>
    <button class="like-deconnected" style="background: transparent;border: none;"><i class="fa-regular fa-thumbs-down"></i>{{.CommentDislike}}</button>
  </div>
</div>
{{end}}

{{define "pagination"}}
  <div class="pagination">
    <a class="page-page">pages</a>
  </div>
{{end}}

{{define "blocError"}}



{{end}}

{{define "messageForumPageIndex"}}
<div class="message" >
  <h1>          
    <span style="--i:10">T</span>
    <span style="--i:11">H</span>
    <span style="--i:12">E</span>
    <span> </span>
    <span style="--i:13">F</span>
    <span style="--i:14">O</span>
    <span style="--i:15">R</span>
    <span style="--i:16">U</span>
    <span style="--i:17">M</span>

  </h1>
  <p>
     You are not currently logged in. <br>
     To fully enjoy our forum, <br>
     please <a href="/signin">log in</a>.               
  </p>        
</div>
{{end}}

{{define "messageForumPageIndexConnected"}}
<div class="message" >
  <h1>          
    <span style="--i:10">T</span>
    <span style="--i:11">H</span>
    <span style="--i:12">E</span>
    <span> </span>
    <span style="--i:13">F</span>
    <span style="--i:14">O</span>
    <span style="--i:15">R</span>
    <span style="--i:16">U</span>
    <span style="--i:17">M</span>

  </h1>
  <p>
    you are connected enjoy our forum <br>
    you can <span style="color: gray;">posted, commented, liked, disliked</span> posts and much more...               
  </p>        
</div>
{{end}}