{{ define "nav_bar"}}
<div class="nav_bar">
    <div class="nav_bar_content">
        <a href="/">Home</a>
        <a href="/mypage">My Page</a>
    </div>
    <div class="nav_bar_content">
        <a href="/signin">SignIn</a>
        <a href="/">SignOut</a>
        <a href="/register">Register</a>
        <a href="/myaccount">Account</a>

    </div>
</div>
{{end}}





{{ define "register"}}
<form class="auth_form" action="" method="post">
    <input class="auth_input" type="text" name="user_name" id="user_name" placeholder="Enter your user name">
    <input class="auth_input" type="email" name="email" id="email" placeholder="Enter your email">
    <input class="auth_input" type="password" name="password" id="password" placeholder="Enter your password">
    <input class="auth_input" type="password" name="password_validation" id="password_validation"
        placeholder="Confirm your password">
    <button class="auth_btn">Register</button>
    <a href="/signin">I have an account</a>
    {{if gt (len .MsgError) 0}}
    <p class="msg_error"> Error: {{.MsgError}} </p>
    {{end}}
</form>


{{end}}

{{ define "signin"}}
    <div class="SignIn-Registre">
        <h1>Sign in</h1>
        <form class="monform" action="" method="post">
            <div><span class="start">*</span><span ></span></div> 
            <input type="text" id="email" name="email"  class="inputForm" placeholder="Email or Username" required>
             <div><span class="start">*</span><span ></span></div> 
            <input type="password" id="motdepasse" name="motdepasse"  class="inputForm" placeholder="Password" required>
            <input type="submit" id="submit" class="submitForm" value="Sign in" >
        </form>
           
        <a href="/register" class="link">I don't have an Account</a>
        
    </div>
{{end}}

{{ define "Session"}}
    {{ if .Session }}
    <a href="/profil" class="drop-daown">{{.User.Username}} </a>
    <a href="/signout" class="drop-daown">sign out</a>
    {{else}}
    <a href="/register" class="drop-daown">register</a>
    <a href="/signin" class="drop-daown">sign in</a>
    {{end}}
{{end}}

{{define "Category"}}
    <option value="Education">Education</option>
    <option value="Art">Art</option>
    <option value="Science">Science</option>
    <option value="Cuture">Cuture</option>
    <option value="Religion">Religion</option>
{{end}}

{{define "FilterForm" }}

    <form action="" method="post">
            <div class="select-opt1">               
                <details>
                    <summary>Choose the categories</summary>
                    {{ range .Category}}
                    <div><input type="checkbox" name="category" value="{{.ID}}"  /><label>{{.NameCategory}}</label></div>
                    {{end}}
                </details>
            </div>
            <div>
                <label for="creation-date">created posts</label>
                <input type="date" value="2023-08-24">
            </div>
            <div>
                <div>
                <label >liked posts</label><br>
                <label class="label-min-max" ><span>min-value</span> <span>max-value</span></label>
                <div class="liked-post-content">
                <input type="number" min="0" placeholder="0">
                <input type="number" min="0" placeholder="1000">
                </div>
                </div>
            </div>
            <button type="submit">filter</button>
            </form>
    
{{end}}


{{define "addPostForm"}}
     {{ if .Session }}
        <div class="new-post"><i class="fa-solid fa-plus"></i> New Post</div>
        <form class="form-new-post" action="/addpost" method="post">
          <!-- checbox -->
          <div class="select-opt">               
                <details>
                    <summary>Choose the categories</summary>
                    {{ range .Category}}
                      <input type="checkbox" name="category" value="{{.ID}}"  /><label>{{.NameCategory}}</label><br> 
                      {{end}}
                </details>
          </div>
          <div>
            <input type="text" name="title" id="title" placeholder="title post" required>
          </div>
          <div>
            <textarea name="content" id="content" cols="30" rows="5" required placeholder="Put the content here"></textarea>
          </div>
          <button type="submit">add post</button>
        </form>
    {{end}}
{{end}}


{{define "post"}}
<div class="categorie-specifique">
    <!-- posts -->
    <div class="title"><span> <i class="fa-solid fa-heading"></i>title:</span>{{.Posts.Title}}</div>

    <div><i class="fa-regular fa-comments"></i>{{.Posts.Content}}</div>

    <div class="author-date">
      <div><span><i class="fa-solid fa-at"></i>author:</span>{{.User.Username}} </div>
      <span>|</span>
      <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>{{.Posts.CreatedAt}}</div>
    </div>

    <div class="like-dislik-content">
      <form action="" method="post">
        <input type="hidden" name="liked" value="">
        <button type="submit"><i class="fa-regular fa-thumbs-up"></i>{{.PostLike}} </button>
      </form>
      <form action="" method="post">
        <input type="hidden" name="disliked" value="">
        <button type="submit"><i class="fa-regular fa-thumbs-down"></i>{{.PostDislike}} </button>
      </form>
    </div>

    <!-- <a href="/post/" class="comment">
      <div class="comment-btn"><i class="fa-solid fa-up-right-from-square"></i>comment here</div>
    </a> -->
    <form action="/post" method="post">
        <input type="hidden" name="post_id" id="post_id" value="{{.Posts.ID}} ">
        <button type="submit">comment here</button>
    </form>

    <!-- comment -->
    
    <h6>commented by:</h6>

    <div><i class="fa-regular fa-comments"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam hic
      ut, atque perspiciatis ducimus enim voluptate velit architecto, quod ea nobis, necessitatibus molestias
      placeat assumenda incidunt suscipit modi! Reprehenderit, perspiciatis.</div>
    <div class="author-date2">
      <div><span><i class="fa-solid fa-at"></i>author:</span>alo</div>
      <span>|</span>
      <div><span><i class="fa-solid fa-calendar-days"></i>date:</span>15/08/2023 at 2am </div>
    </div>
    <div class="like-dislik-content">
      <form action="" method="post">
        <input type="hidden" name="liked" value="">
        <button type="submit"><i class="fa-regular fa-thumbs-up"></i>9</button>
      </form>
      <form action="" method="post">
        <input type="hidden" name="disliked" value="">
        <button type="submit"><i class="fa-regular fa-thumbs-down"></i>2</button>
      </form>
    </div>

    <div><a href="/post/"><i class="fa-solid fa-circle-right"></i>see more
        comments...</a> </div>
        {{range .Comment}}
        {{end}}
  </div>

{{end}}