{{ define "nav_bar"}}
<div class="nav_bar">
    <div class="nav_bar_content">
        <a href="">Home</a>
        <a href="">My Page</a>
    </div>
    <div class="nav_bar_content">
        <a href="">SignIn</a>
        <a href="">SignOut</a>
        <a href="">Register</a>
        <a href="">Account</a>

    </div>
</div>


{{end}}