{{ define "footer"}}

<div class="foot">
    <div class="foot-item font-a">Groupie Tracker</div>
    <div class="foot-item font-a">Made with love</div>
    <div class="foot-item font-a">Copyright 2023</div>
</div>

{{ end }}

