{{ define "header"}}

  <header>
    <nav class="nav1">
      <a href="/">Home</a>
       {{ if .Session }}
          <a href="/mypage">my page</a>
      {{end}}

  </nav>
  <nav class="nav2">
    <form action="#" method="post">
      <input type="search" class="input" placeholder="search here">
      <input class="button--submit" value="search" type="submit">
    </form>
    {{template "Session" .}}

    </nav>
    <nav class="nav3">
      <div class="btn-fabars drop-daown"><span>forum</span><i class="fa-solid fa-bars"></i></div>
      <div class="content-link">
      <a href="/">Home</a>
             {{ if .Session }}
          <a href="/mypage">my page</a>
      {{end}}
     {{template "Session" .}}
                
        <form action="" method="post" class="drop-daown">
          <input type="search" class="input" placeholder="search here">
          <input class="button--submit" value="search" type="submit">
        </form>
      </div>
    </nav>
  </header>  

{{end}}



{{ define "footer" }}

<footer>
  <p>Copyright ©<span> Zone01 Dakar</span> | 2023 - All rights reserved</p>
  <p>This theme was developed by <span>@osamb</span> - <span>@mouhametadiouf</span> - <span>@dAlassane</span> -
    <span>@alo</span> - <span>@ssambadi</span>
  </p>
</footer>


{{end}}