{{ define "Session"}}
{{ if .Session }}
<a href="/profil" class="drop-daown profil">{{.User.Username}} </a>
<a href="/signout" class="drop-daown signout">sign out</a>
{{else}}
<a href="/register" class="drop-daown register">register</a>
<a href="/signin" class="drop-daown signin">sign in</a>
{{end}}
{{end}}

{{define "categorieMenu"}}
<div class="categori-menu">
  {{ range .Category}}
  <form action="/category" method="GET">
    <input type="hidden" name="categorie" value="{{.ID}}">
    <input type="submit" value="{{.NameCategory}}">
  </form>
  {{end}}
</div>
{{end}}

{{ define "header"}}

  <header>
    <nav class="nav1">
      <a href="/" class="home">Home</a>
       {{ if .Session }}
          <a href="/mypage" class="mypage">my page</a>
      {{end}}

  </nav>
  <nav class="nav2">
    
    <form action="/search" method="post" class="search-bar-form">
      <input list="title" type="text" class="input" placeholder="search for title here" name="title">
      <datalist id="title">
        {{range .Datas}}
        <option value="{{.Posts.Title}}">
          <p>{{.Posts.Title}}</p>
          {{end}}
      </datalist>
      <script>
        // JavaScript code
        document.addEventListener("DOMContentLoaded", function () {
            var dataList = document.getElementById("title");
            var options = dataList.getElementsByTagName("option");
            var values = {};

            for (var i = 0; i < options.length; i++) {
                var value = options[i].value;
                if (values[value]) {
                    dataList.removeChild(options[i]);
                    i--; // Decrement i as we removed an option
                } else {
                    values[value] = true;
                }
            }
        });
    </script>
    <input class="button--submit" value="search" type="submit">
    </form>

    {{template "Session" .}}

    </nav>
    <nav class="nav3">
      <div class="btn-fabars drop-daown"><span>forum</span><i class="fa-solid fa-bars"></i></div>
      <div class="content-link">
      <a href="/" class="home">Home</a>
             {{ if .Session }}
          <a href="/mypage" class="mypage">my page</a>
      {{end}}
     {{template "Session" .}}
                
        <form action="" method="post" class="drop-daown search-bar-form">
          <input type="search" class="input" placeholder="search here">
          <input class="button--submit" value="search" type="submit">
        </form>
      </div>
    </nav>
  </header>  

{{end}}



{{ define "footer" }}

<footer>
  <p>Copyright ©<span> <a href="https://zone01dakar.sn" target="_blank">Zone01 Dakar</a></span> | 2023 - All rights reserved</p>
  <p>This theme was developed by <span><a href="https://learn.zone01dakar.sn/git/osamb">@osamb</a></span> - <span><a href="https://learn.zone01dakar.sn/git/mouhametadiouf" target="_blank">@mouhametadiouf</a></span> - <span><a href="https://learn.zone01dakar.sn/git/dalassan" target="_blank">@dalassan</a></span> -
    <span><a href="https://learn.zone01dakar.sn/git/alo" target="_blank">@alo</a></span> - <span><a href="https://learn.zone01dakar.sn/git/ssambadi" target="_blank">@ssambadi</a></span>
  </p>
</footer>


{{end}}